@import "../../styles/utils";

.pagination-wrap {
  display: flex;
  justify-content: center;
}

.pagination {
  width: 248px;
  display: flex;
  justify-content: space-between;
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0;
  background-color: $page-hover-color;
  color: $page-primary-color;
  border: solid 1px $page-elements-color;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: $page-primary-color;
    color: $page-primary-color;
    background-color: $page-hover-color;
  }

  &:hover {
    border-color: $page-primary-color;
    background-color: $page-hover-color;
    color: $page-primary-color;
  }

  &:active {
    background-color: $page-primary-color;
    color: $page-white-color;
    outline: none;
  }
}

.page-link.active,
.active > .page-link {
  background-color: $page-primary-color;
  border-color: $page-primary-color;
  color: $page-white-color;
  outline: none;
}

.page-link.disabled,
.disabled > .arrow-left > svg {
  fill: $page-icons-color;
}

.page-link.disabled,
.disabled > .arrow-right > svg {
  fill: $page-icons-color;
}

.page-item:last-child .page-link {
  border-radius: 50%;
}

.page-item:first-child .page-link {
  border-radius: 50%;
}
