@import "../../index";
// need add this import @import "../../index.scss";

.activation {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    margin: 30px 0 100px;
  }

  &__confirmed {
    color: rgb(79, 192, 79);
  }

  &__rejected {
    color: rgb(235, 80, 80);
  }

  &__back {
    text-transform: uppercase;
    text-decoration: underline;
    color: $page-primary-color;
    font-size: 20px;
    transition: color 0.2s;

    &:hover {
      color: $page-secondary-color;
    }
  }
}
