@import "../../styles/variables";

.swiper-box {
  height: 400px;
  position: relative;
  box-sizing: border-box;
  width: 1139px;
  margin: auto;
  display: flex;
  flex-direction: column;

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    @media (max-width: 640px) {
      width: 100%;
    }
  }

  @media (max-width: 1200px) {
    height: 189px;
    width: 720px;
  }

  @media (max-width: 768px) {
    width: 592px;
  }

  @media (max-width: 640px) {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.slides-box {
  width: 1043px;
  height: 400px;

  @media (max-width: 1200px) {
    width: 618px;
    height: 238px;
  }

  @media (max-width: 768px) {
    width: 490px;
    height: 189px;
  }

  @media (max-width: 640px) {
    width: 100%;
    height: 100%;
  }
}

.swiperNavNext,
.swiperNavPrev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 100%;
  width: 32px;
  background-size: auto;
  background-position: center;
  border-radius: 48px;
  border: 1px solid $page-icons-color;
  cursor: pointer;
  transition: border-color 0.7s ease;
  @media (max-width: 639px) {
    display: none;
  }
}

.swiperNavNext:hover {
  border-color: $page-primary-color;
}

.swiperNavPrev:hover {
  border-color: $page-primary-color;
}

.bullet {
  display: inline-block;
  width: 14px;
  margin-left: 14px;
  height: 4px;
  background: $page-elements-color;
}

.bullet-active {
  display: inline-block;
  height: 4px;
  width: 14px;
  background: $page-primary-color;
}

.swiper-pagination {
  position: static !important;
  // height: max-content;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.banner-image {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  @media (max-width: 640px) {
    content: url("../../images/bannerSwiper/banner-320.png");
  }
}
