@import "../../styles/utils";

.margin-top-50 {
  margin-top: 50px;
}

.position__center {
  display: flex;
  justify-content: center;
}

.page__text {
  color: $page-primary-color;
  font-size: 14px;
}
