@import "../../index";

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-100 {
  margin: 100px 0 30px;
}

.margin-del {
  margin: 0;
}

.position-center {
  display: flex;
  justify-content: center;
}

.position-start {
  display: flex;
  justify-content: start;
}

.persons__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contacts {
  &__list {
    display: flex;
    justify-content: space-evenly;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: start;
    margin-right: 5px;
  }

  &__label {
    font-weight: 600;
    font-size: 15px;
    color: $page-primary-color;
    border: 1px solid $page-elements-color;
    border-radius: 40px;
    padding: 5px;
    transition: border 0.3s;

    &:hover {
      border: 1px solid $page-orange-color;
    }

    &:active {
      box-shadow: none;
      border: 1px solid $page-elements-color;
      color: $page-orange-color;
      background-color: $page-white-color;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__person {
    margin-top: 50px;
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__img {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    &-linkedin {
      background-image: url(../../images/contacts/linkedin.svg);
    }

    &-gitHub {
      background-image: $page-github-icon;
    }
  }
}

.person__photo {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;

  &-yevhen {
    background-image: url(../../images/contacts/Yevhen.jpeg);
  }

  &-tetiana {
    background-image: url(../../images/contacts/Tetiana.jpeg);
  }

  &-max {
    background-image: url(../../images/contacts/Max.jpeg);
  }

  &-sasha {
    background-image: url(../../images/contacts/Sasha.jpeg);
  }

  &-oleh {
    background-image: url(../../images/contacts/Oleh.jpeg);
  }
}

.contacts__form-containere {
  border: 1px solid transparent;
  border-radius: 40px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  line-height: 20px;
  padding: 14px 16px;

}

.contacts__form {
  margin: 0 auto;
  flex-direction: column;
  width: 100%;

  @include onTablet {
    width: 50%;
  }
}

.form__item {
  box-sizing: border-box;
  margin-bottom: 20px;
  display: block;
  height: 48px;
  width: 100%;
  padding: 14px 16px;
  background-color: $page-white-color;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid $page-elements-color;
  transition: all 0.3s;
  color: $page-primary-color;

  &:hover {
    border: 1px solid $page-orange-color;
  }

  &:focus {
    outline: none;
    border: 1px solid $page-orange-color;
  }

  &-button {
    align-items: center;
    background-color: $page-orange-color;
    border: none;
    color: $page-white-color;
    display: flex;
    height: 56px;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
    }

    &:active {
      box-shadow: none;
      border: 1px solid $page-elements-color;
      color: $page-orange-color;
      background-color: $page-white-color;
    }
  }

  &-textarea {
    box-sizing: border-box;
    color: $page-primary-color;
    display: block;
    resize: none;
    height: 150px;
    overflow: hidden;
    transition: border-color 0.3s ease;
  }
}
