@mixin onDesktop {
  @media (min-width: 1199px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin fontStyles($font-style, $fw, $fs, $lh) {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
