@import "./variables";
@import "./mixin";

* {
  box-sizing: border-box;
}

html {
  font-family: $main-font, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

a {
  text-decoration: none;
}

li {
  text-transform: uppercase;
  list-style: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.heading-1 {
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
  color: $page-primary-color;
}

.heading-2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
  margin-bottom: 8px;
  color: $page-primary-color;
}

.heading-3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 8px;
  color: $page-primary-color;
}

.heading-4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  color: $page-primary-color;
}

.buttons {
  display: flex;
  justify-content: space-between;

  &_buy-btn {
    flex: 1 1 auto;
    padding: 9px 0;
    margin-right: 8px;
    background-color: $page-orange-color;
    border: solid 1px $page-orange-color;
    border-radius: 8px;
    color: $page-white-color;
    font-weight: 700;
    font-size: 14px;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
    }

    &:active {
      box-shadow: none;
      color: $page-orange-color;
      border: 1px solid $page-elements-color;
      background-color: $page-white-color;
    }
  }

  &_favorites-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: $page-white-color;
    border: 1px solid $page-icons-color;
    border-radius: 48px;
    transition: background-image 0.5s, border-color 0.5s;

    &:hover {
      border-color: $page-primary-color;
    }
  }
}

@include onTablet {
  .heading-1 {
    font-size: 48px;
    line-height: 56px;
  }

  .heading-2 {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  .heading-3 {
    font-size: 22px;
    line-height: 140%;
  }

  .heading-4 {
    font-size: 20px;
    line-height: 26px;
  }
}
