* {
  box-sizing: border-box;
}

html {
  font-family: "Mont", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

li {
  text-transform: uppercase;
  list-style: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
