@import "./mixin";

$main-font: "Mont";
$page-color: #d8d8d8;

$page-hover-color: var(--page-hover-color);
$page-primary-color: var(--page-primary-color);
$page-orange-color: var(--page-orange-color);
$page-blue-color: var(--page-blue-color);
$page-secondary-color: var(--page-secondary-color);
$page-icons-color: var(--page-icons-color);
$page-elements-color: var(--page-elements-color);
$page-white-color: var(--page-white-color);
$page-github-icon: var(--github_icon);
