@import "../../index";

.isDisabled {
  & > svg {
    fill: $page-icons-color;
  }

  &:hover {
    border-color: $page-icons-color;
  }
}

.item {
  padding: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid $page-elements-color;
  flex-direction: column;
  height: 160px;

  @include onTablet {
    height: 128px;
    flex-direction: row;
  }

  &__amount-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  &__amount-number {
    padding: 0 14px;
    width: 32px;
  }

  &__amount-icon {
    width: 32px;
    height: 32px;
    border: 1px solid $page-icons-color;
    border-radius: 48px;
    background-color: inherit;
    transition: border-color 0.3s;

    &:hover {
      border: 1px solid $page-primary-color;
    }
  }

  &__price {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    width: 75px;
    text-align: right;
  }

  &__title {
    display: flex;
    align-items: center;
    width: 128px;

    @include fontStyles("normal", 600, 14px, 21px);
    color: $page-primary-color;

    @include onTablet {
      width: 176px;
      height: 63px;
    }

    @include onDesktop {
      width: 336px;
      height: 21px;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__photo-container {
    width: 66px;
    height: 66px;
  }

  &__container-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
  }

  &__amount-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @include onTablet {
      width: fit-content;
    }
  }

  &__remove-btn {
    border: none;
    background-color: inherit;

    & > svg {
      fill: $page-icons-color;
      transition: fill 0.3s;

      &:hover {
        fill: $page-primary-color;
      }
    }
  }
}
