$grid-columns: 24;
$grid-gutter-width: 16px;

$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 640px,
  lg: 768px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 320px,
  md: 640px,
  lg: 768px,
  xl: 1200px,
);

@import "~bootstrap/scss/bootstrap";

@include media-breakpoint-up(sm) {
  .container {
    padding: 25px 16px 64px;
  }
}

@include media-breakpoint-up(md) {
  .container {
    padding: 25px 24px 64px;
  }
}

@include media-breakpoint-up(xl) {
  .container {
    padding: 25px 32px 80px;
  }
}
