@import "../../index";

.breadcrumbs {
  margin-bottom: 40px;
  font-size: 12px;
  color: $page-secondary-color;
}

.subtitle {
  margin-bottom: 40px;
  font-size: 14px;
  color: $page-secondary-color;
}

.gy-4 {
  --bs-gutter-y: 40px;
}

.phones-list {
  margin-bottom: 40px;
}
