@import "../../index";

.phones {
  background-color: $page-hover-color;
}

.gy-4 {
  --bs-gutter-y: 40px;
}

.breadcrumbs {
  margin-bottom: 40px;
  font-size: 12px;
  color: $page-secondary-color;
}

.subtitle {
  margin-bottom: 40px;
  font-size: 14px;
  color: $page-secondary-color;
}

.phones_sort-title {
  font-size: 12px;
  color: $page-secondary-color;
  margin-bottom: 4px;
}

.phones_sort {
  font-size: 12px;
  color: $page-secondary-color;
  margin-bottom: 24px;
}

.sort-select {
  padding: 10px 0 10px 12px;
  background-color: $page-hover-color;
  border: 1px solid $page-icons-color;
  border-radius: 8px;
  font-family: $main-font;
  color: $page-primary-color;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  transition: border-color 0.5s;

  &:hover {
    border-color: $page-secondary-color;
  }

  &:focus {
    outline: none;
    border-color: $page-primary-color;
  }
}

.sort-option {
  font-size: 14px;
  color: $page-secondary-color;
  background-color: $page-white-color;
}
