@import "../../index";

.bag {
  &__container {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
    }
  }
}

// .bag__item-list {
//   // width: 100%;
//   // margin-right: 16px;
// }

.bag__item-cost {
  border: 1px solid $page-elements-color;
  border-radius: 16px;
  text-align: center;
  padding: 24px;
}

.bag__cost-total {
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
}

.bag__count-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $page-secondary-color;
  padding-bottom: 25px;
  border-bottom: 1px solid $page-elements-color;
  margin-bottom: 24px;
}

.submit__button {
  background-color: $page-orange-color;
  color: $page-white-color;
  border-radius: 8px;
  border: 0;
  width: 100%;
  height: 48px;

  &:hover {
    box-shadow: 3px 13px rgba(23, 32, 49, 0.4);
  }

  &:active {
    box-shadow: none;
    border: 1px solid $page-elements-color;
    color: $page-red-color;
    background-color: $page-white-color;
  }
}
