@import "../../index";

.header {
  background-color: $page-white-color;
  border-bottom: 1px solid $page-elements-color;

  &__top-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      gap: 16px;
    }

    @include onDesktop {
      gap: 24px;
    }
  }

  &__menu {
    display: flex;
  }

  &__logo {
    padding: 14px 16px;

    @include onDesktop {
      padding: 17px 24px;
    }
  }

  &__theme-switch {
    border-radius: 50%;
    padding: 2px;
    margin-left: auto;
    margin-right: 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e2e6e9;
    }

    @include onTablet {
      margin-right: 0;
    }
  }
}

.header__container {
  display: flex;

  @include onTablet {
    gap: 16px;
  }

  @include onDesktop {
    gap: 24px;
  }
}

.logo {
  &__image {
    width: 64px;
    height: 20px;
    position: relative;

    @include onDesktop {
      width: 80px;
      height: 30px;
    }

    &--emoji {
      position: absolute;
      height: 12px;
      width: 9px;
      top: 13px;
      left: 46px;

      @include onDesktop {
        height: 15px;
        width: 12px;
        top: 17px;
        left: 64px;
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    display: none;
    height: 48px;
    line-height: 48px;
    font-weight: 800;
    font-size: 12px;
    position: relative;
    color: $page-secondary-color;
    text-transform: uppercase;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }

    @include onTablet {
      margin-right: 32px;
      display: block;
    }

    @include onDesktop {
      height: 64px;
      line-height: 64px;
      margin-right: 64px;
    }
  }
}

.is-active {
  color: $page-primary-color;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: $page-primary-color;
    width: 100%;
    height: 4px;
    bottom: 0;
  }
}

.icon {
  box-sizing: border-box;
  display: none;
  width: 16px;
  height: 16px;
  position: relative;
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
  cursor: pointer;

  @include onTablet {
    display: block;
    margin: 16px;
  }

  @include onDesktop {
    margin: 25px;
  }

  // &--heart {
  //   background-image: url(../../images/header/heart_icon.svg);
  // }

  // &--bag {
  //   background-image: url(../../images/header/bag_icon.svg);
  // }

  &--menu {
    display: block;
    margin: 16px;
    background-image: url(../../images/header/menu_icon.svg);

    @include onTablet {
      display: none;
    }
  }
}

.icon__container {
  box-shadow: -1px 0 0 $page-elements-color;
}
