@import "../../styles/variables";

.footer {
  display: flex;
  box-sizing: border-box;
  height: 96px;
  box-shadow: 0 -1px 0 $page-elements-color;
  background-color: $page-white-color;

  @media (max-width: 640px) {
    height: 257px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .logo {
    display: flex;
    width: max-content;
    position: relative;

    &__emoji {
      position: absolute;
      height: 16.67;
      width: 12.14;
      bottom: 47.91%;
      right: 36.15%;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    width: 1136px;
    margin: auto;
    @media (max-width: 1200px) {
      width: 720px;
    }

    @media (max-width: 768px) {
      width: 592px;
    }

    @media (max-width: 640px) {
      width: 288px;
      flex-direction: column;
      align-items: normal;
      height: 100%;
    }
  }

  &__links-block {
    display: flex;
    width: 30%;
    height: 32px;
    text-align: center;
    position: relative;
    justify-content: space-between;

    @media (max-width: 768px) {
      width: 35%;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      height: 30%;
    }

    &__link {
      display: flex;
      align-items: center;
      line-height: 25px;
      position: relative;
      font-size: 12px;
      color: $page-secondary-color;
      font-family: $main-font;
      font-weight: 700;
      letter-spacing: 0.04em;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.4s ease;

      @media (max-width: 640px) {
        text-align: left;
        line-height: 11px;
        width: fit-content;
      }

      &::after {
        background-color: $page-primary-color;
        display: block;
        opacity: 0;
        position: absolute;
        top: 28px;
        content: "";
        height: 1px;
        width: 100%;
        border-radius: 8px;
        transition: opacity 0.4s ease;
        @media (max-width: 640px) {
          top: 14px;
        }
      }

      &:hover {
        color: $page-primary-color;
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.to-top-btn {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 12px;
  color: $page-secondary-color;
  font-family: $main-font;
  font-weight: 600;
  background: none;
  border: none;

  @media (max-width: 768px) {
    align-self: center;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid $page-icons-color;
    transition: border-color 0.4s;
    margin-left: 20px;

    &:hover {
      border-color: $page-primary-color;
    }

    @media (max-width: 639px) {
      margin-left: 12px;
    }
  }
}
