@import "../../index";

.notfound {
  color: $page-primary-color;

  &__holy {
    font-family: GeometriaLight, sans-serif;
    display: flex;
    font-size: 70px;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
  }

  &__icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: bottom ;
    background-repeat: no-repeat;
    display: none;
    background-image: url(../../images/error__icon.jpeg);

    @include onTablet {
      display: block;
      margin-left: 20px;
    }
  }

  &__error {
    display: flex;
    align-items: end;
    font-family: GeometriaBold, sans-serif;
    font-size: 70px;
    line-height: 1.08;
  }

  &__pageParagraph {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__backPage {
    margin-top: 50px;
  }

  &__backParagraph {
    font-size: 17px;
    line-height: 26px;
  }

  &__back {
    text-transform: uppercase;
    text-decoration: underline;
    color: $page-primary-color;

    &:hover {
      color: $page-secondary-color;
    }
  }
}
