@import "../../index";

.breadcrumbs {
  display: flex;

  &_house-icon {
    margin-right: 15px;
  }

  &_arrow-icon {
    margin-right: 13px;
  }

  &_link {
    margin-right: 13px;
    @include fontStyles(normal, 600, 12px, 15px);
    color: $page-secondary-color;
    transition: color 0.3s;

    &:hover {
      color: $page-primary-color;
    }
  }

  &_crumb {
    display: flex;
    align-items: center;
  }
}

.is-current-page {
  font-weight: 700;
  color: $page-primary-color;
}
