@import "../../styles/utils";

.breadcrumbs {
  display: flex;
  align-items: center;

  &_link {
    margin-left: 13px;
    @include fontStyles(normal, 700, 12px, 15px);
    color: $page-secondary-color;
    transition: color 0.3s;

    &:hover {
      color: $page-primary-color;
    }
  }

  &_crumb {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
}

.is-current-page {
  color: $page-primary-color;
}
