.home-page__title {
  margin-top: 31px;
  margin-bottom: 45px;
}

.home-page_categories {
  margin-bottom: 80px;
}

.banner-swiper-block {
  width: 1136px;
  margin: auto;
  margin-bottom: 112px;

  @media (max-width: 1199px) {
    width: 100%;
    margin-bottom: 100px;
    height: 238px;
  }

  @media (max-width: 768px) {
    // width: 592px;
    height: 189px;
    margin-bottom: 80px;
  }

  @media (max-width: 640px) {
    width: 100%;
    height: 100%;
    // margin: 0;
    margin-bottom: 66px;
  }
}

.new-products-block,
.discount-products-block {
  width: 1136px;
  margin: auto;
  margin-bottom: 80px;

  @media (max-width: 1199px) {
    width: 720px;
  }

  @media (max-width: 768px) {
    width: 592px;
  }

  @media (max-width: 639px) {
    width: 100%;
    padding-left: 16px;
    margin-right: 0;
  }
}
