.back-btn {
  display: block;
  text-decoration: none;
  padding-right: 30px;
}

.back_home-btn {
  text-align: center;
  width: 200px;

  @media (max-width: 640px) {
    width: 150px;
    height: 40px;
  }
}
